<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550017808324-kb52c4k9bmd23nrv2t5sbbbq7ih5qcei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550017808324-kb52c4k9bmd23nrv2t5sbbbq7ih5qcei</string>
	<key>API_KEY</key>
	<string>AIzaSyAboVGzNVak05XrUdhsAUWQcEMDlMtqqsw</string>
	<key>GCM_SENDER_ID</key>
	<string>550017808324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebasealura</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebasealura.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550017808324:ios:52e2ee137c08d53a169691</string>
</dict>
</plist>